body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.sign-up-form {
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid hsl(289, 100%, 96%);
    border-radius: 8px;
    width: 343px;
    height: 484px;
    margin: 0 auto;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 26px;
    text-align: center;
}

.signe-up-form-title {
    margin: 0 auto;
    font-size: 27px;
    font-weight: 500;
    color: #120E21;
}

.signe-up-form-input:first-of-type {
    margin-top: 32px;
}

.signe-up-form-input {
    background: #FBEEFF;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    border: none;
}

.sign-up-form-btn {
    background: #9B4DFF;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 52px;
    width: 100%;
    height: 49px;
    border-radius: 60px;
    border: none;
}

.sign-up-form-btn:focus {
    outline: none;
}

.sign-up-form-text-log-in {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #120E21;
}

.sign-up-form-link-log-in {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #120E21;
    font-style: italic;
}